/* YOUR CUSTOM STYLES */

#add-maintance {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    z-index: 900;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
}

.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 475px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
    float: left;
    border-bottom-width: 0;
}
